body{
    background-color: black;
    font-family: "Avenir" , "Lato";
    color: white;
}

.header{
    padding-top: 30px;
}

.project-name{
    font-weight: 700;
    letter-spacing: 2px;
    text-align: right;
    padding: 25px 0;
}

.project-icon{
    padding: calc(50% - 10px) 0;
    text-align: center;
    background-color: #2e2e2e;
    font-weight: 700;
}

.project-icon-container{
    width: 10%;
    max-width: 64px;
    min-width: 50px;
}

.image-slider-container, .image-container, .modal-container{
    width: 100%;
    padding-bottom: 55%;
    background-color: #2e2e2e;
}

.modal-container{
    background-color: white;
    height: 400px;
    padding: 0;
}

.image-caption{
    width: 100%;
    border-top: 1px white solid;
}

.image-caption .caption-title{
    font-size: 1.4rem;
    margin: 5px 0;
}

.image-caption .caption-excerpt{
    font-size: 1rem;
    color: #9e9e9e;
}


.image-container, .modal-container{
    margin: 10px 0;
}

.image-container.col-2{
    width: calc(50% - 5px);
    margin: 0;
}

.image-container.col-4{
    width: calc(25% - 10px);
    margin: 0 5px;
    padding-bottom: 15%;
}

.image-container p, .image-slider-container p, .modal-container p{
    position: absolute;
    padding-bottom: calc((55% - 20px)/2);
    padding-top: calc((55% - 20px)/2);
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
}

.modal-container p{
    position: initial;
    font-weight: 400;
    color: #9e9e9e;
    letter-spacing: initial;
    padding: 0;
    width: 50%;
    margin: 0 auto;
}

.image-container.col-2 p{
    padding-bottom: calc((110% - 20px)/2);
    padding-top: calc((110% - 20px)/2);
}

.image-container a, .modal-container a{
    color: white;
}

.image-container .plus-btn, .modal-container .close-btn{
    position: absolute;
    text-align: center;
    font-size: 1.75em;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border: 2px solid white;
    right: 15px;
    top: 15px;
    background: none;
}

.modal-container .close-btn{
    border: 2px solid black;
    color: black;
    font-size: 1.4em;
    font-weight: 700;
}

.breakout-area{
    width: 100%;
    background-color: white;
    margin: 50px 0;
    padding-top: 75px;
}

.breakout-area h3{
    color: black;
    letter-spacing: 4px;
    font-weight: 900;
}

.breakout-area p{
    color: #9e9e9e;
}

.breakout-shape{
    padding-bottom: 300px;
}

.excerpt-container{
    margin-bottom: 70px;
    margin-top: 70px;
}

.excerpt-container.small p{
    font-size: 1.2em;
}

.excerpt-container p{
    color: #9e9e9e;
}

.excerpt-container h1, .excerpt-container h2, .excerpt-container h3, .excerpt-container h4{
    margin-top: 0;
    letter-spacing: 5px;
    font-weight: 900;
}

.excerpt-container .project-title{
    font-weight: 900;
    letter-spacing: 10px;
    font-size: 5.8em;
}

.project-heading{
    font-weight: 900;
    font-size: 5.6em;
    letter-spacing: 8px;
}

.project-subtitle{
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 12px;
}

.project-subtitle i{
    text-transform: initial;
    letter-spacing: initial;
    font-family: "Baskerville", "Libre Baskerville";
    font-weight: 400;
}
.description{
    font-size: 1.2em;
    padding-bottom: 20px;
}

/*Carousel*/
.carousel-control.right, .carousel-control.left{
    background: none;
}
.carousel-indicators li{
    background-color: #434343;
    border: none;
}

.carousel-indicators .active{
    background-color: #828282;
    width: 10px;
    height: 10px;
    margin: 1px;
}
button.btn{
    background: none;
    border-radius: 0px;
    border-color: white;
    border-width: 2px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 12px;
    padding: 15px 40px;
}

button.btn:hover{
    border-color: white;
}

.heading-only-container{
    margin-bottom: 40px;
}

.heading-only-container h1{
    margin:0;
}

.more-projects h3{
    font-weight: 900;
    letter-spacing: 5px;
}

.more-projects p{
    font-size: 1.2em;
    color: #9e9e9e;
}

.more-projects .col-xs-3 h4{
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 2px;
}

.more-projects .col-xs-3 p{
    font-size: 0.85em;
}


.footer{
    padding-bottom: 25px;
    font-size: 0.7em;
    font-weight: 700;
    letter-spacing: 2px;
}

.footer .col-xs-1{
    border-top: solid rgba(255,255,255,0.1) 2px;
    padding-bottom: 25px;
    margin-left: calc(50% - 8.333%/2);
}

.faded-white{
    color: rgba(255,255,255,0.1);
}

.image-pull-right{
    padding-left: 30px;
    padding-right: 0px;
}

.modal-box{
    padding: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
}

.modal-container h3{ 
    color: black;
    font-weight: 900;
    letter-spacing: 5px;
    padding-top: 100px;
}

.mobile-only{
    display: none;
}

@media screen and (max-width: 768px){

    .project-name p{
        padding-right: 10px;
    }

    .excerpt-container .project-title, .project-heading{
        font-size: 3.8em;
    }

    .modal-container p{
        width: 75%;
        font-size: 0.8em;
    }

    .modal-container h3{
        padding-top: 50px;
    }

    .modal-container{
        height: 270px;
        margin-top: 50px;
    }

    .breakout-area h3{
        font-size: 1.5em;
    }

    .image-caption .caption-excerpt {
        font-size: 0.9rem;
    }

    .container{
        padding: 0;
    }

    .col-xs-12{
        padding: 0;
    }

    .image-caption{
        padding-left: 5px;
    }

    .image-caption .caption-title {
        font-size: 1.2rem;
    }

    .image-container .plus-btn, .modal-container .close-btn{
        font-size: 1.15em;
        width: 30px;
        height: 30px;
    }

    .mobile-only{
        display: initial;
    }

    .desktop-only{
        display: none;
    }

    .carousel-caption h3{
        font-weight: 700;
        letter-spacing: 2px;
        font-size: 1.5em;
    }

    .footer{
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 400px){
    .excerpt-container .project-title, .project-heading{
        font-size: 2.8em;
    }

    .breakout-area h3 {
        font-size: 1.2em;
    }

    .image-caption .caption-excerpt{
        font-size: 0.6rem;
    }

    .more-projects .col-xs-3 h4 {
        font-size: 0.6em
    }
}


.carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right{
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}

.carousel-control .glyphicon-menu-right{
    right: 50%;
    margin-right: -10px;
}

.carousel-control .glyphicon-menu-left{
    left: 50%;
    margin-left: -10px;
}





















.gray-bg{
    background: #e6e6e6;
}

.top-bottom-gutter{
    margin-top: 50px;
    margin-bottom: 50px;
}

.relative{
    position: relative;
}


.clear-padding{
    padding:0;
}

.clear-margin{
    margin: 0;
}

.clear-margin-top{
    margin-top: 0px;
}

.clear-margin-bottom{
    margin-bottom: 0px;
}